{% extends "../base.html" %}
{% block css %}
        <link rel="stylesheet" href="/static/css/chart.css?v=20221230v2">
{% endblock %}
{% block js %}
        <script charset="utf-8" type="text/javascript" src="/static/js/moment.min.js"></script>
        <script charset="utf-8" type="text/javascript" src="/static/js/lightweight-charts.min.js"></script>
        <script charset="utf-8" type="text/javascript" src="/static/js/chart.js?v=20221230v2"></script>
{% endblock %}
{% block content %}
        <div class="contailer-fluid">
            <div class="chart">
                <div class="candles" id="candles">
                    <div class="legend">
                        <span class="symbol"></span>
                        <span class="interval"></span>
                        <span class="o"></span>
                        <span class="h"></span>
                        <span class="l"></span>
                        <span class="c"></span>
                    </div>
                </div>
                <div class="activity">
                    <div class="page page-1">
                        <div class="card">
                            <h5 class="card-title">Symbols</h5>
                            <div class="card-body">
                                <div class="symbols">
                                    <table>
                                        <thead>
                                            <tr>
                                                <th width="80">Symbol</th>
                                                <th class="text-right">Price</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="page page-2 active">
                        <div class="card order-book">
                            <h5 class="card-title">Order book</h5>
                            <div class="card-body">
                                <div class="asks">
                                    <table>
                                        <thead>
                                            <tr>
                                                <th width="80">Price</th>
                                                <th class="text-right">Size</th>
                                                <th width="80" class="text-right">Sum</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                        </tbody>
                                    </table>
                                </div>
                                <div class="price"><span></span></div>
                                <div class="bids">
                                    <table>
                                        <thead>
                                            <tr>
                                                <th width="80"></th>
                                                <th class="text-right"></th>
                                                <th width="80" class="text-right"></th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <div class="card trades">
                            <h5 class="card-title">Trades</h5>
                            <div class="card-body">
                                <table>
                                    <thead>
                                        <tr>
                                            <th width="80">Price</th>
                                            <th class="text-right">Amount</th>
                                            <th width="80" class="text-right">Time</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="sidebar">
                    <div class="item">
                        <a class="icon" data-page="1">
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path fill="currentColor" d="M88 48C101.3 48 112 58.75 112 72V120C112 133.3 101.3 144 88 144H40C26.75 144 16 133.3 16 120V72C16 58.75 26.75 48 40 48H88zM480 64C497.7 64 512 78.33 512 96C512 113.7 497.7 128 480 128H192C174.3 128 160 113.7 160 96C160 78.33 174.3 64 192 64H480zM480 224C497.7 224 512 238.3 512 256C512 273.7 497.7 288 480 288H192C174.3 288 160 273.7 160 256C160 238.3 174.3 224 192 224H480zM480 384C497.7 384 512 398.3 512 416C512 433.7 497.7 448 480 448H192C174.3 448 160 433.7 160 416C160 398.3 174.3 384 192 384H480zM16 232C16 218.7 26.75 208 40 208H88C101.3 208 112 218.7 112 232V280C112 293.3 101.3 304 88 304H40C26.75 304 16 293.3 16 280V232zM88 368C101.3 368 112 378.7 112 392V440C112 453.3 101.3 464 88 464H40C26.75 464 16 453.3 16 440V392C16 378.7 26.75 368 40 368H88z"/></svg>
                        </a>
                    </div>
                    <div class="item active">
                        <a class="icon" data-page="2">
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path fill="currentColor" d="M232.5 5.171C247.4-1.718 264.6-1.718 279.5 5.171L498.1 106.2C506.6 110.1 512 118.6 512 127.1C512 137.3 506.6 145.8 498.1 149.8L279.5 250.8C264.6 257.7 247.4 257.7 232.5 250.8L13.93 149.8C5.438 145.8 0 137.3 0 127.1C0 118.6 5.437 110.1 13.93 106.2L232.5 5.171zM498.1 234.2C506.6 238.1 512 246.6 512 255.1C512 265.3 506.6 273.8 498.1 277.8L279.5 378.8C264.6 385.7 247.4 385.7 232.5 378.8L13.93 277.8C5.438 273.8 0 265.3 0 255.1C0 246.6 5.437 238.1 13.93 234.2L67.13 209.6L219.1 279.8C242.5 290.7 269.5 290.7 292.9 279.8L444.9 209.6L498.1 234.2zM292.9 407.8L444.9 337.6L498.1 362.2C506.6 366.1 512 374.6 512 383.1C512 393.3 506.6 401.8 498.1 405.8L279.5 506.8C264.6 513.7 247.4 513.7 232.5 506.8L13.93 405.8C5.438 401.8 0 393.3 0 383.1C0 374.6 5.437 366.1 13.93 362.2L67.13 337.6L219.1 407.8C242.5 418.7 269.5 418.7 292.9 407.8V407.8z"/></svg>
                        </a>
                    </div>
                </div>
            </div>
        </div>
{% endblock %}
