{% extends "../base.html" %}
{% block content %}
        <div class="container">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Edit Customer</h4>
                    <form class="form ajax-form" method="post" action="/customer/update/{{ item.ID.Hex() }}">
                        <div class="form-group">
                            <label>URL</label>
                            <input class="form-control" placeholder="URL" value="{{ url }}{{ item.Token }}" readonly>
                        </div>
                        <div class="form-group">
                            <label>Name</label>
                            <input class="form-control" name="name" placeholder="Name" value="{{ item.Name }}">
                        </div>
                        <div class="form-group">
                            <label>Token</label>
                            <input class="form-control" placeholder="Token" value="{{ item.Token }}" disabled>
                        </div>
                        <div class="form-group">
                            <label for="inputExchange">Exchange</label>
                            <select class="form-control select2" id="inputExchange" name="exchange" placeholder="Exchange" data-placeholder="Exchange" style="width: 100%;">
                                <option></option>
                                <option value="BINANCE"{% if (item.Exchange == 'BINANCE') %} selected{% endif %}>BINANCE</option>
                                <option value="OKX"{% if (item.Exchange == 'OKX') %} selected{% endif %}>OKX</option>
                            </select>
                        </div>
                        <div class="form-group toggle-password">
                            <label for="inputApiKey">ApiKey</label>
                            <input type="password" class="form-control" id="inputApiKey" name="apiKey" placeholder="Api Key" autocomplete="off" value="{% if user.Role != 'Demo' %}{{ item.ApiKey }}{% endif %}"{% if user.Role == 'Demo' %} disabled{% endif %}>
                            <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" fill="currentColor" class="bi bi-eye-fill" viewBox="0 0 16 16">
                                <path d="M10.5 8a2.5 2.5 0 1 1-5 0 2.5 2.5 0 0 1 5 0z"/>
                                <path d="M0 8s3-5.5 8-5.5S16 8 16 8s-3 5.5-8 5.5S0 8 0 8zm8 3.5a3.5 3.5 0 1 0 0-7 3.5 3.5 0 0 0 0 7z"/>
                            </svg>
                        </div>
                        <div class="form-group toggle-password">
                            <label for="inputApiSecret">ApiSecret</label>
                            <input type="password" class="form-control" id="inputApiSecret" name="apiSecret" placeholder="Api Secret" autocomplete="off" value="{% if user.Role != 'Demo' %}{{ item.ApiSecret }}{% endif %}"{% if user.Role == 'Demo' %} disabled{% endif %}>
                            <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" fill="currentColor" class="bi bi-eye-fill" viewBox="0 0 16 16">
                                <path d="M10.5 8a2.5 2.5 0 1 1-5 0 2.5 2.5 0 0 1 5 0z"/>
                                <path d="M0 8s3-5.5 8-5.5S16 8 16 8s-3 5.5-8 5.5S0 8 0 8zm8 3.5a3.5 3.5 0 1 0 0-7 3.5 3.5 0 0 0 0 7z"/>
                            </svg>
                        </div>
                        <div class="form-group">
                            <label for="inputCapital">Capital</label>
                            <input class="form-control" id="inputCapital" name="capital" placeholder="Capital" autocomplete="off" value="{{ item.Capital|stringformat:'%.2f' }}">
                        </div>
                        <div class="form-group">
                            <label for="inputScale">Scale</label>
                            <input class="form-control" id="inputScale" name="scale" placeholder="Scale" autocomplete="off" value="{{ item.Scale|stringformat:'%.2f' }}">
                        </div>
                        <div class="form-group">
                            <label for="inputLevel1">Level 1</label>
                            <input class="form-control" id="inputLevel1" name="level1" placeholder="Level 1" autocomplete="off" value="{{ item.Level1|stringformat:'%.2f' }}">
                        </div>
                        <div class="form-group">
                            <label for="inputLevel2">Level 2</label>
                            <input class="form-control" id="inputLevel2" name="level2" placeholder="Level 2" autocomplete="off" value="{{ item.Level2|stringformat:'%.2f' }}">
                        </div>
                        <div class="form-group">
                            <label for="inputStatus">Status</label>
                            <select class="form-control select2" id="inputStatus" name="status" placeholder="Status" data-placeholder="Status" style="width: 100%;">
                                <option></option>
                                <option value="Enable"{% if (item.Status == 'Enable') %} selected{% endif %}>Enable</option>
                                <option value="Disable"{% if (item.Status == 'Disable') %} selected{% endif %}>Disable</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <button type="submit" class="btn btn-sm btn-primary"{% if user.Role == 'Demo' %} disabled{% endif %}>Submit</button>
                            <button type="reset" class="btn btn-sm btn-warning"{% if user.Role == 'Demo' %} disabled{% endif %}>Reset</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
{% endblock %}