{% extends "../base.html" %}
{% block content %}
        <div class="container-fluid">
            <div class="card">
                <div class="card-body">
                    <div class="card-title">
                        <h4 class="float-left">Customer</h4>
                        <a href="{% if user.Role == 'Demo' %}#{% else %}/customer/add{{ item.ID.Hex() }}{% endif %}" class="btn btn-info btn-sm float-right{% if user.Role == 'Demo' %} disabled{% endif %}">Add</a>
                    </div>
                    <div class="table{% if (items|length == 0) %} mb-0{% endif %}">
                        <div class="thead">
                            <div class="tr">
                                <div class="th">Name</div>
                                <div class="th">Token</div>
                                <div class="th">Base</div>
                                <div class="th">Capital</div>
                                <div class="th">Ratio</div>
                                <div class="th">Level1</div>
                                <div class="th">Level2</div>
                                <div class="th">Mode</div>
                                <div class="th">Status</div>
                                <div class="th">Action</div>
                            </div>
                        </div>
                        <div class="tbody">{% for item in items %}
                            <div class="tr">
                                <div class="td" data-title="Name">{{ item.Name }}</div>
                                <div class="td" data-title="Token">{{ item.Token }}</div>
                                <div class="td" data-title="Base">{{ item.Base|stringformat:'%.2f' }}</div>
                                <div class="td" data-title="Capital">{{ item.Capital|stringformat:'%.2f' }}</div>
                                <div class="td" data-title="Ratio">{{ item.Ratio|stringformat:'%.2f' }}</div>
                                <div class="td" data-title="Level1">{{ item.Level1|stringformat:'%.2f' }}</div>
                                <div class="td" data-title="Level2">{{ item.Level2|stringformat:'%.2f' }}</div>
                                <div class="td" data-title="Mode">{{ item.Mode }}</div>
                                <div class="td" data-title="Status">{{ item.Status }}</div>
                                <div class="td" data-title="Action">
                                    <a href="{% if user.Role == 'Demo' %}#{% else %}/customer/edit/{{ item.ID.Hex() }}{% endif %}" class="btn btn-primary btn-sm{% if user.Role == 'Demo' %} disabled{% endif %}">Edit</a>
                                </div>
                            </div>{% endfor %}
                        </div>
                    </div>
                    <div class="tfoot{% if (items|length > 0) %} d-none{% endif %}">No Data</div>
                    <nav class="pagger" aria-label="Page navigation" data-count="{{ count }}" data-page="{{ page }}" data-limit="{{ limit }}" data-href="/customer">
                    </nav>
                </div>
            </div>
        </div>
{% endblock %}
